<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TwitterClone</title>
    
    <style type="text/css">
      
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="global_menu">
          <ul>
            <li>Top</li>
            <li><a href="/mutters">つぶやき一覧</a></li>
            <li><a href="/mutters/new">新規投稿</a></li>
          </ul>
        </div>
      </header>
      <div>
        
      </div>
      <footer>
        
      </footer>
    </div>
  </body>
  
  
  
</html>